body.main-website {
    background-image: url('background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

}

.akaya-telivigala-regular {
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-website h1{
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}

body.main-website {
    background-image: url('img/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

.main-website h1{
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}

body.main-website {
    background-image: url('img/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

}




.swiper {
    width: 90%;
    max-width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto evita que las fotos se deformen */
    border-radius: 20px;
}

/* Color de los puntitos de abajo */
.swiper-pagination-bullet-active {
    background: #fff !important;
}

@media (max-width: 480px) {
    .login-page h1 {
        font-size: 1.8rem; /* Tamaño más pequeño para móvil */
        padding: 0 20px;   /* Margen a los lados para que no toque los bordes */
        line-height: 1.2;  /* Espacio entre líneas por si el texto salta */
    }}



